<form action='/contact' method='post'> 
  <label>name:</label> 
  <input class='text' name='name' type='text' /> 
  
  <label>email:</label> 
  <input class='text' name='mail' type='text' /> 
  
  <label>subject:</label> 
  <input class='text' name='subject' type='text' /> 
  
  <label>message:</label> 
  <textarea name='body'></textarea> 
  
  <center> 
    <input id='submit' type='submit' value='send' /> 
  </center> 
</form>

