%form{ :action => "/", :method => "post"}
  %p
    %label{:for => "name"} name:
    %input{:type => "text", :name => "name", :class => "text"}
  %p
    %label{:for => "mail"} email:
    %input{:type => "text", :name => "mail", :class => "text"}
  %p  
    %label{:for => "mail"} subject:
    %input{:type => "text", :name => "subject", :class => "text"}
  %p
    %label{:for => "body"} message:
    %textarea{:name => "body"}
  %p
    %center
      %input{:type => "submit", :value => "send", :value => "send", :id => "submit"}

