<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Sinatra Sings -- an introduction to micro web frameworks</title>

    <!--
    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">
    -->

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/simple.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section ielement inside of this container is displayed as a slide -->
      <div class="slides">


        <section>
	  <p class="fragment">
	    Carlo Flores
	  </p>
	  <p>
            <a href="http://edgecast.com" class="fragment">EdgeCast Networks</a>
          </p>
          <p>
            <a href="http://ladevops.org" class="fragment">LA DevOps</a>
          </p>
          <p>
            <a href="http://js.la" class="fragment">js.la</a>
          </p>
	</section>
	<section>
	  <p>
	    grab this presentation at<br/>
	    <a href="http://contact.rota.la/preso">contact.rota.la</a>
	  </p>
	  <p>
	    grab code examples at<br/>
	    <a href="https://github.com/flores/myway">github.com/flores/myway</a>
	  </p>
	</section>
        
	<section>
          <h2>Sinatra is cool</h2>
	</section>

	<section>
	  <p>Things should be easy</p>
	  <p class="fragment">so we stay motivated to make lots of things</p>
	</section>
	
	<section>
	  <section>
            <h2>Perl</h2>
	    <p class="fragment">install perl</p>	
	    <p class="fragment">install some web server (Apache)</p>	
	    <p class="fragment">install mod perl, configure web server</p>	
	    <p class="fragment">install perl cgi and stuff</p>	
	  </section>
	  
	  <section>
            <h2>Ruby</h2>
	    <p class="fragment">install ruby/rubygems</p>	
	    <p class="fragment">install rails</p>	
	    <p class="fragment">explodify rails (rails new ...)</p>	
	    <p class="fragment">bagillionty directories</p>	
	    <p class="fragment">i don't even...</p>	
	  </section>
          
	</section>

	<section>
	  <h2>Micro web frameworks!</h2>
	</section>

	<section>
	  <section>
	    What do we want?
	  </section>
          <section>
	    Handle HTTP methods
	    <p class="fragment">GET</p>
	    <p class="fragment">POST</p>
	    <p class="fragment">PUT</p>
	    <p class="fragment">DELETE</p>
	    <p class="fragment">OPTIONS, HEAD, TRACE...</p>
	  </section>
          <section>
	    Be easy to respond to requests by some user
	  </section>
	</section>
	
	<section>
	  <section>
	    The coolest hello world ever
	  </section>
	  <section>
            <h2><a href="http://sinatrarb.com">Sinatra.rb</a></h2>  
	      <p class="fragment">install ruby</p>
	      <p class="fragment">install sinatra (gem install sinatra)</p>
	  </section>
	  <section>
	    <pre><code data-trim>
require 'sinatra.rb'
		
get '/' do
  "Hello world"
end
	    </code></pre>
	  </section>
	</section>

	<section>
	  <section>
	    Routes!
	  </section>

	  <section>
	    <pre><code data-trim>
require 'sinatra.rb'
		
get '/' do
  "Hello world"
end

get '/hello/:name' do
  "Hello " + params[:word]
end
	    </code></pre>

	  </section>

	  <section>
	    Logic!
	  </section>	  
	  
	  <section>
	    <pre><code data-trim>
require 'sinatra.rb'

def check_if_carlo(name)
  if name == 'carlo'
    return true
  else
    return false
  end
end

get '/' do
  "Hello world"
end

get '/hello/:name' do
  name = params[:name]
  if check_if_carlo(name)
    "Hey " + name + ", I know you!"
  else
    "Hello " + name
  end
end
	    </code></pre>
	
	  </section>
	  
	  <section>
	    <img src="/img/sweet-jesus.gif" alt="sweet jesus mother of god"/>
	  </section>

	</section>

	<section>
	  <section>
	    <h2>Some stupid 30 minute (and more) projects</h2>
	  </section>
	</section>

	<section>
	  <section>
	    <h2>Some stupid 30 minute (and more) projects</h2>
	  </section>
	</section>

	<section>
	  <section>
	    <h2>A contact form</h2>
	  </section>

	  <section>
	    use erb (templating, native)
	    <p class="fragment">install aws-ses (cheap emailing)</p>
	    <p class="fragment">install sanitize (optional)</p>
	  </section>

	  <section>
	    <pre><code data-trim>
get '/contact' do
  erb :contact
end
	    </code></pre>
	  </section>
	  
	  <section>
	    <pre><code data-trim>
&lt;form action='/contact' method='post'> 
  &lt;label>name:&lt;/label> 
  &lt;input class='text' name='name' type='text' /> 
  
  &lt;label>email:&lt;/label> 
  &lt;input class='text' name='mail' type='text' /> 
  
  &lt;label>subject:&lt;/label> 
  &lt;input class='text' name='subject' type='text' /> 
  
  &lt;label>message:&lt;/label> 
  &lt;textarea name='body'>&lt;/textarea> 
  
  &lt;center> 
    &lt;input id='submit' type='submit' value='send' /> 
  &lt;/center> 
&lt;form>	    
	    </code></pre>
	  </section>
	  
	</section>


	<section>
	  <p>
	    <a href="http://edgecast.com">EdgeCast</a><br />
	  </p>
	  <p>
	    <a href="http://ladevops.org">ladevops.org</a> | 
	    <a href="http://js.la">js.la</a>
	  </p>
	  <p>
            <a href="http://twitter.com/lolcatstevens">@lolcatstevens</a> | 
	    <a href="http://github.com/flores">github.com/flores</a><br/>
	    <a href="mailto:carlo@js.la">carlo@js.la</a>
	  </p>
	  <h2 class="fragment roll-in">Thank you</h2>
	</section>
      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
          // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
